@font-face {
	font-family: "QuicksandRegular";
	src: local("QuicksandRegular"), url("./fonts/Quicksand-Regular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "QuicksandBold";
	src: local("QuicksandBold"), url("./fonts/Quicksand-Bold.ttf") format("truetype");
	font-weight: bold;
}

@font-face {
	font-family: "QuicksandSemiBold";
	src: local("QuicksandSemiBold"), url("./fonts/Quicksand-SemiBold.ttf") format("truetype");
	font-weight: bold;
}
